a {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

.lead {
  font-size: 1rem;
}

.themeColor {
  background-color: #fa0c08;
  color: #fff;
}

.btn.themeColor:hover {
  color: #fff;
  background-color: #b20604;
}

.page-link {
  color: #fa0c08;
}

.page-link:hover {
  color: #b20604;
}

#map {
  height: 30rem;
}

@media screen and (max-width: 480px) {
  #map {
    height: 50vh;
    margin: 2rem 0 0.5rem;
  }
}
